
.lateral{
    position: absolute;
    min-height: 99vh;
    width: 25%;
    left: 0px;
    top: 0px;
    background: #031E24;
}

.titulo{
    margin-top: 3vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #C9C9C9;

    align-items: center;
    text-align: center;
}

h3{
    text-align: center;
    padding-top: 10px;
}

a{
    font: 400 15px Roboto;
    text-decoration: none;
    color: #7DA9B2;
}

.botoes-campus{
    margin-top: 13vh;
}

.campus{
    background: #0E5B93;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 179px;
    border: none;
    margin-top: 1px;

    align-items: center;
    text-align: center;
    font-weight: bold;
    font: 600 18px sans-serif;
    color: #EDEDED;
}

.login{
    position: absolute;
    top: 93vh;

    background: #0E5B93;
    width: 100%;
    height: 50px;
    border: none;

    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #E1E1E1;
}

button:hover{
    background-color: #093F66;
}

.labs{
    margin-left: 30%;
    margin-top: 3vh;
}

.lab{
    display: flex;
    width: 60vw;
    height: 18vh;
    background: #4C4D59;
    padding: 10px;
    margin-bottom: 1vh;

    border-radius: 5px;
}

.computer{
    width: 100px;
    height: 100px;
    margin-top: auto;
    margin-left: 2vw;
}

.info{
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    color: #fff;
}

.info h1, h2{
    margin-top: 1vh;
}
h2{
    font: 400 18px Roboto;
}

.add{
    width: 10vh;
    height: 10vh;
    margin-top: 3vh;
}